@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.App {
  text-align: center;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infoContainer {
  position: relative;
  width: 425px;
  height: 575px;
}

.mainContainer {
  display: flex;
}

.headshot {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
  top: 0;
  left: 0;
}

.skillBox {
  height: 100%;
  position: absolute;
  top: 170px;
  left: 10px;
  width: 170px;
}

.iphone {
  position: absolute;
  height: auto;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  top: 25px;
  left: 10px;
}

.screen {
  position: absolute;
  height: auto;
  width: 230px;
  height: 483px;
  border-radius: 20px;
  top: 38px;
  left: 20px;
}

.screenContainer {
  position: relative;
  margin: 20px;
  height: 70px;
}

.iphoneContainer {
  background-color: #ff5d3d;
  position: absolute;
  height: auto;
  width: 250px;
  height: 500px;
  border-radius: 40px;
  top: 25px;
  left: 25px;
}

.headshotContainer {
  background-color: #1d1826;
  position: absolute;
  border-radius: 2vmin;
  height: 60px;
  width: 60px;
  left: 3vmin;
  top: 10px;
}

.textBox {
  background-color: #1d1826;
  padding: 10px;
  margin: 20px;
  width: 150px;
  height: 180px;
  border-radius: 10px;
  position: inherit;
  font-family: 'Fira Code', monospace;
  left: 1vmin;
  font-size: 12px;
  text-align: left;
}

.textBox2 {
  padding: 10px;
  position: inherit;
  background-color: #ff5d3d;
  border-radius: 10px;
  height: 80px;
  width: 150px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  text-align: left;
}

.textBox3 {
  background-color: #1d1826;
  padding: 10px;
  margin: 20px;
  width: 170px;
  height: 180px;
  border-radius: 10px;
  position: inherit;
  font-family: 'Fira Code', monospace;
  left: 1vmin;
  font-size: 12px;
  text-align: left;
}

.optionsBox {
  width: 100%;
  height: 70px;
}

.projects {
  position: absolute;
  float: left;
  width: 150px;
  font-family: 'Silkscreen', cursive;
  top: 30px;
  left: 300px;
}

.name {
  float: left;
}

.selection {
  background-color: grey;
  padding: 1vmin;
  border-radius: 1vmin;
  float:left;
  margin: 1vmin;
  margin-left: 0vmin;
  margin-right: 2vmin;
}

.selection:hover {
  background-color: #ff5d3d;
}

.miniLogo {
  padding: 1vmin;
}

.logoBox {
  position: absolute;
  border-radius: 2vmin;
  width: 100%;
  bottom: 20px;
}

.description {
  background-color: #1d1826;
  position: absolute;
  top: 560px;
  left: 25px;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  font-family: 'Fira Code', monospace;
  text-align: left;
}
